.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 0px 12px 0px 2px;
    width: 100px;
    height: 28px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}